#all_products{
    margin: 35px;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    gap: 100px;
}
.products{
    box-shadow: 0 0 7px;
    padding: 25px;
}
#btn{
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 7px;
}
#btn:hover{
    background-color: lightgreen;
    transition: 0.7s;
}
.image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
}
.price{
    color: green;
    /* padding-left: 100px; */
}
.title{
    font-weight: bold;
    font-size: 700;
}
select{
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
a{
    background-color: cornflowerblue;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 7px;
    position: relative;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
}
a:hover{
    background-color: lightblue;
    transition: 0.7s;

}